{
  "extends": "webpack",
  "rules": {
    "no-underscore-dangle": [1, { "allowAfterThis": true }],
    "no-plusplus": 1,
    "consistent-return": 1,
    "no-multi-assign": 1,
    "no-param-reassign": 1,
    "prefer-destructuring": 1,
    "no-nested-ternary": 1,
    "prefer-rest-params": 1,
    "import/no-unresolved": 1,
    "import/extensions": 1,
    "no-useless-escape": 1,
    "no-undefined": 1,
    "no-cond-assign": 1
  }
}
